.center {
    text-align: center;
}

.nadpis {
    position: static;
    top: 40px;
}

body {
    background-color: #121212 !important;
}

p {
    font-size: larger;
}

pre.output {
    background-color: #000;
    color: white;
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    white-space: pre-wrap;
}

pre.vs-code {
    background-color: #333;
    color: #fff;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button{
    margin-bottom: 20px !important;
}

img {
    border: solid 10px #121212;
    width: 100%;
    max-width: 100%;
    height: auto;
}

code.language-csharp, code.language-arduino {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#allowCopy {
    -webkit-touch-callout: auto !important; /* iOS Safari */
    -webkit-user-select: auto !important; /* Safari */
    -khtml-user-select: auto !important; /* Konqueror HTML */
    -moz-user-select: auto !important; /* Old versions of Firefox */
    -ms-user-select: auto !important; /* Internet Explorer/Edge */
    user-select: auto !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}