.center {
    text-align: center;
}

.nadpis {
    position: static;
    top: 40px;
}

body {
    background-color: #121212 !important;
}

p {
    font-size: larger;
}

pre.output {
    background-color: #000;
    color: white;
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    white-space: pre-wrap;
}

pre.vs-code {
    background-color: #333;
    color: #fff;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button{
    margin-bottom: 20px;
}